* {
    margin: 0px;
    padding: 0px;
}

#container ul {
    list-style: none;
}

#container ul li {
    background-color: black;
    width: 150px;
    border: 1px solid gray;
    height: 50px;
    line-height: 50px;
    float: left;
    color: white;
    font: 18px;
    position: relative;
}
